*{
    margin: 0;
    scroll-behavior: smooth;
}
/* --------------------------NAVBAR---------------------------- */

.navbar{
    position: sticky;
    top:0px;
    height: 12vh;
    display: flex;
    z-index: 10000;
    background-image:linear-gradient(rgb(234, 234, 208),rgba(162, 241, 179, 0.878),rgba(30, 244, 80, 0.939))
}
.first{
    width: 20%;
    display: flex;
    align-items: center;
}
.first>a{
    margin-left: 4.5vmax;
    margin-bottom: 0.2vmax;
    font-size:2.5vmax;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color:rgba(6, 68, 6, 0.774);
}
.first>a:hover{
    color:goldenrod;
    transition: .5s;
}
.second{
    display: flex;
    justify-content:space-evenly;
    width: 60%;
}
.second>a{
    color:rgba(6, 68, 6, 0.774);
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.second>a:hover{
    box-shadow: 0px 0px 3px green  ;
    background-color: rgba(0, 0, 0, 0.483);
    color:rgb(255, 217, 0);
    border-bottom: 2.5px solid gold;
    transition: 0.3s;
    border-radius: 5px;
    transform: translateY(-2px);
}
.third{
    width: 20%;
    display: flex;
    justify-content:center;
}
.third>img{
    margin-top: 4vh; 
    margin-left: 1vh; 
    height:4vh
}
#img2{
    margin-left: 3.5vmax;
}
.third>img:hover{
    transition: 0.3s;
    cursor: pointer;
    transform:translatey(-4px);
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* ------------------------HOME PAGE ------------------------------------------------------------ */
.maincon{
    /* border: 2px solid black; */
    height: 88vh;
    background-color:rgba(255, 255, 255, 0.689);
    box-shadow: 1px 5px 30px 2px rgba(5, 243, 5, 0.494);
    display: flex;
}
#onelayer{
    opacity:calc(0.55);
    width: 100%;
    display: flex;
}
.leftcon{
    background-image: url(./img/white-background-with-splash-water-aloe-vera-plant_391229-13899.jpg);
    background-repeat: no-repeat;
    background-position-x:-15vh;
    background-position-y:15vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding:3vh;
    box-sizing: border-box;
    width:60%;  
}
.leftcon>h1{
    font-size :10vh;
    font-family:cursive;
    color:rgb(31, 132, 31);  
}
.leftcon>h3{
    margin-top: 3vh;
    margin-left: 18vh;
    font-size: 1.4vw;
    font-family:cursive;
    color:rgb(31, 132, 31);
    align-self:flex-start; 
}
.rightcon{
    display: flex;
    width:40%;
}
.rightcon>img{
    filter:blur(0.5px);
    width:100%;
}
/* ----------------------------------------------------------------------------------------------------------------------- */
/* ---------------Products----------------------------------------------- */
#Products>h1{
    font-size: 40px;
    height:5.5vh;
    text-align: center;
    margin: 8vh auto;
    padding:15px;
    padding-top:14vh;
    border-bottom: 5px solid rgba(21, 218, 21, 0.457);
    width:3.5vw;
    font-family:cursive;
    color:rgba(43, 168, 21, 0.879);
    transition: width 30s;
}

#Products>h1:hover{
    cursor:pointer;
    transition:0.7s;   
    border-bottom: 5px solid rgba(21, 218, 21, 0.457);
    width:25vw
    
}
#productcontainer{
    display: flex;
    border-radius: 1vw;
    justify-content: center;
    flex-wrap: wrap;
    margin: 12vh;
}
.product{
    background-color: rgb(255, 255, 255);
    display: flex;
    border-radius: 1vw;
    margin:15px;
    padding:1vh;
    flex-direction: column;
    align-items: center;
    box-shadow:1px 2px 8px 2px rgb(2, 87, 2);
}
.product:hover{
    transition:0.5s;
    cursor:pointer;
    transform: translateY(-3vh);
}
.product>img{
    width:19vw;
    height:40vh;
}
.product>h3{
    margin-top:3vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.product>h4{
    margin-top:1vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* ------------------------------------------------------------------------------------------------------------------------------ */
/* ---------------  last  ---------------------------------- */
#last{
    height:35vh;
    display: flex;
    background-image:linear-gradient(rgba(30, 244, 80, 0.939),rgba(162, 241, 179, 0.878),rgb(221, 219, 219))
}
#service{
    width:25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#about{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#contactus{
    width:25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
#service>h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(2, 36, 2, 0.727);
}
#about>a{
    color: rgba(2, 36, 2, 0.666);
    font-size:5.5vmax;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#contactus>h1{
    color: rgba(2, 36, 2, 0.711);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#service>a{
    color: rgba(1, 1, 0, 0.577);
    font-weight :bolder;
    font-size:smaller;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#about>p{
    font-size:3vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(8, 41, 2, 0.834);
}
#contactus>a{
    color: rgba(1, 1, 0, 0.577);
    font-weight :bolder;
    font-size:smaller;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
#contactus>a >img{
    width: 4vw;
    height:6vh;
}
#service>a:hover{
    transform: translateY(-5px);
    color: rgba(149, 149, 9, 0.81);
    transition: 0.3s;
}
#contactus>a>img:hover{
    transform: translateY(-5px);
    transition: 0.3s;
    
}
#contactus>a:hover{
    color: rgba(149, 149, 9, 0.81);
    transition: 0.3s;
}
#about>a:hover{
    color: rgba(149, 149, 9, 0.81);
    transition:0.5s;
}
/* --------------------------------------------------------------------------------------------------------------------- */